{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container header-container h-100">
    <div class="row h-100">
        <div class="text-center mx-auto col-10 col-sm-8">
            <div class="">
                <h1 class="main-page-heading">About Us</h1>
            </div>
            <div class="mt-3">
                <p>We are a small print gallery located in Dublin serving local artists. We sell limited edition prints,
                    most having a limit of one per customer.</p>
            </div>
        </div>
    </div>
</section>

{% include 'includes/footer.html' %}
{% endblock %}