{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container header-container h-100">
    <div class="row h-100">
        <div class="h-100 text-center col-7 col-md-6 mx-auto d-flex flex-column justify-content-around">
            <div class="">
                <h1 class="mt-20">Digital Print Gallery</h1>
            </div>
            <div class="my-2">
                <p><strong>Supporting Artists in the West of Ireland</strong></p>
            </div>
            <div class="mb-20">
                <h4>
                    <a class="btn btn-primary btn-lg rounded-0" href="{% url 'all_artwork' %}">
                        Visit Gallery
                    </a>
                </h4>
            </div>
        </div>
    </div>
</section>

{% include 'includes/footer.html' %}
{% endblock %}