{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container header-container">
    <div class="row h-500">
        <div class="text-center mx-auto">
            <div class="">
                <h1 class="">Digital Print Gallery</h1>
            </div>
            <div class="mt-3">
                <p><strong>Supporting Artists in the West of Ireland</strong></p>
            </div>
            <div class="my-5">
                <h4>
                    <a class="btn btn-primary btn-lg rounded-0" href="{% url 'all_artwork' %}">
                        Visit Gallery
                    </a>
                </h4>
            </div>
        </div>
    </div>
</section>
{% endblock %}