{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container header-container h-100">
    <div class="row h-100 mt-100">
        <div>
            <h1 class="">My Basket</h1>
        </div>
    </div>
</section>
<section class="container results-container">
    <div class="row">
        <div class="col">
            {{ basket_items }}
            {% if basket_items %}
            <div class="table-responsive">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in basket_items %}
                        <tr>
                            <td class="py-3">{{ item.artwork.title }}</td>
                            <td class="py-3">{{ item.artwork.artist }}</td>
                            <td class="py-3">€{{ item.artwork.price }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="text-right">
                                <h6>Total: €{{ total|floatformat }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                <h6>Delivery: €{{ standard_delivery_cost|floatformat }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                <h6>Grand Total: €{{ grand_total|floatformat }}</h6>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-right">
                                <a class="btn" href="">Return to Shop</a>
                                <a class="btn btn-info" href="">Secure Checkout</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% else %}
            <div>
                <p>Your basket is empty.</p>
                <a class="btn btn-info" href="{% url 'all_artwork' %}">Keep Shopping</a>
            </div>
            {% endif %}
        </div>
    </div>
  
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}