@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Merienda:wght@400;500;600&family=Merriweather:ital,wght@0,400;0,700;1,400&display=swap');


html {
    height: 100%;
}

body {
    font-family: 'Merienda', cursive;
    color: #3c4142 !important;
}

h1, h2, h3 {
    color: #3c4142 !important;
    font-family: 'Merienda', cursive;
}

.logo-font {
    font-family: 'Bungee Inline', sans-serif !important;
    font-size: larger;
}

.header-container {
    margin-top: 5vh;
}

.back-to-top-btn a {
    color: white;
}

/* -------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 99;
}

/* -------------------------------- Custom Form Elements */

.form-heading {
    font-size: large;
    font-weight: 600;
}

/* -------------------------------- Stripe Elements */
/* CSS below from Stripe.com */

.StripeElement, .stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    }
    
    
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
    }
    
    
.StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }    

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
box-shadow: 0 1px 3px 0 #cfd7df;
}

.stripe-style-input::placeholder {
    color: #304255;
}

#card-element {
    color: #3c4142 !important;
}

/* -------------------------------- Allauth templates */

.allauth-form-inner-content {
    color: #3c4142;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input {
   border: black;
}

/* -------------------------------- Profiles */

.order-history-display {
    max-height: 400px;
    overflow-y: auto;
}

/* -------------------------------- Footer */

.social-icon {
    font-size: larger;
}

/* -------------------------------- Media Queries */

@media (max-width: 576px) {
    
    .my-basket-table {
        font-size: small;
    }

    .order-confirmation-details {
        font-size: small;
    }

}