html {
    height: 100%;
}

h1, h2, h3 {
    color: black !important;
}

.header-container {
    margin-top: 5vh;
}

.back-to-top-btn a {
    color: white;
}

/* -------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 70px;
    right: 20px;
    z-index: 99;
}

/* -------------------------------- Stripe Elements */
/* CSS below from Stripe.com */

.StripeElement, .stripe-style-input {
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: white;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    }
    
    
.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
    }
    
    
.StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }    

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
box-shadow: 0 1px 3px 0 #cfd7df;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

/* -------------------------------- Allauth templates */

.allauth-form-inner-content {

}