<footer class="mt-20">
    <div class="container-fluid mb-3">
        <ol class="list-inline d-flex justify-content-around">
            <li class="list-inline-item">
                <a href="{% url 'delivery' %}">Delivery Info</a>
            </li>
            <!--Link to external Facebook page-->
            <li class="list-inline-item social-icon">
                <a href="https://www.facebook.com/profile.php?id=61554861381433/" rel="noopener nofollow"
                    target="_blank">
                    <i class="bi bi-facebook my-auto mx-auto"></i>
                </a>
            </li>
        </ol>
    </div>
</footer>