{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container header-container h-100">
    <div class="row mt-100 text-center">
        <div class="mx-auto">
            <h1 class="">Print Gallery</h1>
            <div class="my-4">
                    <p>For bulk orders, please contact <strong>artshop@example.com</strong>.</p>
            </div>
        </div>
    </div>
</section>

<!--Search query number of results found-->
<section class="container results-container mt-3">
    <div class="row">
        <div class="col-12 text-center">
            {% if search_term %}
            <p class="text-muted">{{ all_artwork|length }} result(s) found for <strong>{{ search_term }}</strong></p>
            {% endif %}
        </div>
    </div>

    <!--Display all products-->
    <div class="row">
        <div class="card-deck">
            {% for artwork in all_artwork %}
            <div class="card mb-5 w-75 mx-auto">
                {% if artwork.image %}
                <a href="{% url 'artwork_detail' artwork.id %}">
                    <img class="card-img-top img-fluid" src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                </a>
                {% else %}
                <p class="text-italic">No image currently available.</p>
                {% endif %}
                <div class="card-body text-center">
                    <h4 class="text-italic">{{ artwork.title }}</h4>
                    <div>
                        <h6>by <strong>{{ artwork.artist }}</strong></h6>
                    </div>
                    <div>
                        <p>€{{ artwork.price }}</p>
                    </div>
                    <div>
                        <a class="btn btn-primary btn-md rounded-0" href="{% url 'artwork_detail' artwork.id %}">View Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!--Back to top of page button-->
    <div class="btn btn-info back-to-top-btn rounded-0 float-right mb-10">
        <a class="back-to-top-link">
            <i class="bi bi-chevron-up my-auto mx-auto"></i>  Back to Top
        </a>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    $('.back-to-top-link').click(function(e) {
        window.scrollTo(0,0);
    });
</script>

{% endblock %}