{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container header-container h-100">
    <div class="row h-100 mt-100">
        <div>
            <h1 class="">Artwork</h1>
            <div class="my-5">
                <h4>
                    <a class="btn btn-primary btn-lg" href="">View Art by Local Artists</a>
                </h4>
            </div>
        </div>
    </div>
</section>
<section class="container results-container">
    <div class="row">
        <div class="col-12 text-center">
            {% if search_term %}
            <p class="text-muted">{{ all_artwork|length }} result(s) found for <strong>{{ search_term }}</strong></p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for artwork in all_artwork %}
        <div class="col-12 col-lg-2 col-xl-3">
            <div class="card h-100">
                {% if artwork.image %}
                <a href="{% url 'artwork_detail' artwork.id %}">
                    <img class="card-img-top img-fluid" src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                </a>
                {% else %}

                {% endif %}
                <div class="card-body text-center">
                    <h4>{{ artwork.title }}</h4>
                    <div>
                        <h6>{{ artwork.artist }}</h6>
                    </div>
                    <div>
                        <p>€{{ artwork.price }}</p>
                    </div>
                    <div>
                        <a class="btn btn-primary btn-lg" href="{% url 'artwork_detail' artwork.id %}">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="btn btn-info back-to-top-btn">
        <a class="back-to-top-link">
            <i class="bi bi-chevron-up my-auto mx-auto"></i> Back to Top
        </a>
    </div>
</section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<!--
<script type="text/javascript">
    $.('.back-to-top-link').click(function(e) {
        window.scrollTo(0,0);
    });
</script>
-->

{% endblock %}