{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="container header-container h-100">
    <div class="row h-100 mt-100 col-7 col-md-6 mx-auto">
        <div class="text-center mx-auto">
            <h1 class="">{{ artwork.title }}</h1>
            <div class="my-3">
                <h4>A Painting By <strong>{{ artwork.artist }}</strong></h4>
            </div>
        </div>
    </div>
</section>
<section class="container h-100 mb-10">
    <div class="row h-100">
        <div class="col-10 col-md-8 mx-auto">
            <div class="card h-100">
                {% if artwork.image %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                </a>
                {% endif %}
                <div class="card-body text-center">
                    <div>
                        <p>{{ artwork.description }}</p>
                    </div>
                    <div>
                        <p>€{{ artwork.price }}</p>
                    </div>
                    <form class="form" action="{% url 'add_to_basket' artwork.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <input class="btn btn-info rounded-0" type="submit" value="Add to Basket">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                </div>
            </div>
            <div class="">
                <a class="btn btn-info mx-auto float-right" href="{% url 'all_artwork' %}">Return to Gallery</a>
            </div>
        </div>
        
    </div>

</section>
{% include 'includes/footer.html' %}
{% endblock %}

{% block postloadjs %}
{{ block.super }}

{% endblock %}